@import "custom";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

html {
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 250px;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    font-family: $font-family-serif;
    font-size: 18px;
}

.hero-scene {
    position: relative;
    &::before{
    content: "";    
    position: absolute;  
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%; 
    background-image: url(../images/plate-2802332_640.jpg);
    background-size: cover;
    filter: brightness(0.3);
    }

    *{/* sert à positionner les élément avant le before*/
        position: relative;
    }

    .hero-scene-content {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
